<h1><%= @user.username %></h1>

<div class="container">
    <p><%= @user.email %></p>
    <p><%= link_to "Edit Profile", edit_user_registration_path %></p>
</div>
<div class="container">
    <% @items.each do |item| %>
        <p>
        <%= item.name %>
        <%= item.user.username %> 
        <%= link_to "", user_item_path(current_user, item), method: :delete, class: 'glyphicon glyphicon-ok' %>
        </p>
    <% end %>
</div>