<!DOCTYPE html>
<html>
<head>
  <title>Blocitoff</title>
  <meta name='viewport' content='width=device-width, initial-scale=1'>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <nav class="navbar navbar-inverse">
    <%= link_to "Blocitoff", root_path, class: "navbar-brand" %>
    
    <%= link_to "About", welcome_about_path, :class => "btn btn-primary" %>
    <%= link_to "Todo List", root_path, :class => "btn btn-primary" %>
  

    <% if user_signed_in? %>
      <%= link_to "Logout", root_path, :class => "btn btn-primary" %>
    <% else %>
      <%= link_to "Login", root_path, :class => "btn btn-primary" %>
      <%= link_to "Sign Up", new_user_registration_path, :class => "btn btn-primary" %>
    <% end %>
  </nav>
  <div class="container">
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>  
  </div>
</body>
</html>
