<!DOCTYPE html>
<html>
<head>
  <title>Blocitoff</title>
  <meta name='viewport' content='width=device-width, initial-scale=1'>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <nav class="navbar navbar-inverse">
    <div class="container">
        <div class="navbar-header">
          <%= link_to "Blocitoff", root_path, class: "navbar-brand" %>
      </div>
      <ul class="nav navbar-nav navbar-inverse">
        <li><%= link_to "About", welcome_about_path %></li>
      </ul>
      
      <ul class="nav navbar-nav navbar-inverse navbar-right">
        <% if user_signed_in? %>
          <li><%= link_to "Todo List", current_user  %></li>
          <li><%= link_to "Logout", destroy_user_session_path, method: :delete %></li>
        <% else %>
          <li><%= link_to "Login", new_user_session_path %></li>
          <li><%= link_to "Sign Up", new_user_registration_path %></li>
        <% end %>
      </ul>
    
    </div>
  </nav>
  <div class="container">
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>  
  </div>
</body>
</html>
