<!DOCTYPE html>
<html>
<head>
  <title>Blocitoff</title>
  <meta name='viewport' content='width=device-width, initial-scale=1'>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container">
    <div class="nav navbar">
      <span class="nav pull-left">
        <%= link_to "Blocitoff", root_path, :class => "btn btn-primary" %>
        <%= link_to "About", welcome_about_path, :class => "btn btn-primary" %>
        <%= link_to "Todo List", root_path, :class => "btn btn-primary" %>
      </span>
  
      <span class="nav pull-right">
        <%= link_to "Logout", root_path, :class => "btn btn-primary" %>
  
        <%= link_to "Login", root_path, :class => "btn btn-primary" %>
        <%= link_to "Logout", root_path, :class => "btn btn-primary" %>
      </span>
    </div>
  </div>
  
  <div class="container">
    <%= yield %>  
  </div>
</body>
</html>
